@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=K2D:wght@300;400;500&family=Kulim+Park&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --twitch-purple: #9146ff;
  --twitch-background: #18181b;
}

.left-sidebar-container {
  width: 240px;
  float: left;
  height: 100vh;
  background-color: #141415;
  display: flex;
  flex-direction: column;
  border-right: 2px solid rgb(40, 40, 40);
}

.rec-text {
  margin-top: 20px;
  color: white;
  text-align: center;
  font-family: "K2D";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

.streamer-div {
  margin-top: 20px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.streamer-img {
  width: 40px;
  border-radius: 50px;
  cursor: pointer;
}

.streamer-img:hover {
  opacity: 0.3;
}

.streamer-name {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-left: 15px;
  cursor: pointer;
}

.streamer-name:hover {
  text-decoration: underline;
}

.live-logo {
  position: absolute;
  left: 160px;
  width: 15px;
}

.viewcount {
  position: absolute;
  left: 190px;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

/* Small screen max-width 640px */
@media only screen and (max-width: 40em) {
}

/* Medium screen min-width 641px */
@media only screen and (min-width: 40.063em) {
}

/* Medium screen min-width 641px and max-width 1024px */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
}

/* Large screen min-width 1025px */
@media only screen and (min-width: 64.063em) {
}

/* Large screen min-width 1025px and max-width 1440px */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .rec-text {
    font-size: 16px;
  }

  .left-sidebar-container {
    width: 200px;
  }

  .streamer-name {
    font-size: 12px;
    margin-left: 10px;
  }

  .live-logo {
    position: absolute;
    left: 140px;
    width: 11px;
  }

  .viewcount {
    left: 160px;
    font-size: 12px;
  }
}

/* Extra large screens  min-width 1440px */
@media only screen and (min-width: 90em) {
}

/* Extra large screens  min-width 1440px and max-width 1920px */
@media only screen and (min-width: 90em) and (max-width: 120em) {
  .left-sidebar-container {
    width: 240px;
  }

  .streamer-name {
    font-size: 14px;
    margin-left: 10px;
  }

  .live-logo {
    position: absolute;
    left: 170px;
    width: 13px;
  }

  .viewcount {
    left: 190px;
    font-size: 14px;
  }

  .streamer-div {
    margin-left: 20px;
  }
}

/* Extra Extra large screens min-width 1920px */
@media only screen and (min-width: 120em) {
}
