@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=K2D:wght@300;400;500&family=Kulim+Park&display=swap");

:root {
  --twitch-purple: #9146ff;
  --twitch-background: #18181b;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  max-width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: var(--twitch-background);
  height: 40px;
  color: white;
}

.left-div {
  display: flex;
  align-items: center;
}

.twitch-logo {
  width: 24px;
  margin-left: 10px;
  cursor: pointer;
}

.twitch-logo:hover {
  opacity: 0.6;
}

.browse-text {
  font-family: "K2D";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-left: 15px;
  margin-bottom: 5px;
  cursor: pointer;
}

.browse-text:hover {
  color: var(--twitch-purple);
  opacity: 0.6;
}

.middle-div {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.search-bar {
  border: 1px solid black;
  text-align: center;
  background-color: gray;
  color: white;
  width: 350px;
  height: 30px;
  border-radius: 5px;
  font-family: "Kulim Park";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.search-bar::placeholder {
  color: white;
}

.search-bar:focus {
  outline: none;
  background-color: black;
  border: none;
  border: 2px solid var(--twitch-purple);
}

.right-div {
  display: flex;
  margin-right: 20px;
}

.login-btn {
  width: 58px;
  height: 25px;
  background-color: gray;
  color: white;
  font-family: "K2D";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  border: none;
  margin-right: 15px;
  cursor: pointer;
}

.login-btn:hover {
  opacity: 0.6;
}

.signup-btn {
  width: 68px;
  height: 25px;
  background-color: var(--twitch-purple);
  color: white;
  font-family: "K2D";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  border: none;
  cursor: pointer;
}

.signup-btn:hover {
  opacity: 0.6;
}

@media screen and (min-width: 300px) and (max-width: 1600px) {
}
